@charset "UTF-8";


.box2{position:relative; width:500px; height:50px; margin:0 auto; text-align:center;
		line-height:50px; }
		
.temp{position:relative; width:500px; height:50px; margin:0 auto;}

.attr1{position:relative; width:248px; height:48px; float:left; background:yellowgreen; 
		font-size:110%; color:white;text-align:center;	line-height:50px;
		font-weight:bold; border:1px solid green;}
		
.attr2{position:relative; width:248px; height:48px; float:left; border:1px solid green; 
		font-size:110%; text-align:left;	line-height:50px;}
		
#footer{position:relative; width:500px; height:50px; text-align:center; line-height:50px;}


#wrap { 	width: 971px;margin: 0;	margin-left: auto;	margin-right: auto;}

h1 {	color: green;}

table {	width: 100%;	border-collapse: collapse;	font-size: 12px; line-height: 24px; }

table td,th {border: #d3d3d3 solid 1px;padding: 5px;}

th {	background: yellowgreen; }

a {text-decoration: none;	color: black; }
a:HOVER {	text-decoration: underline; color: green; }






